<!DOCTYPE html>
<html lang="ru">
  <head>
      <title>{% block title_head %}Запись к психологу{% endblock %}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {% block link %} {% endblock %}

      <link
          rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/bar_menu.css') }}"
      />

      <style>
          {% block style %}         {% endblock %}
      </style>

  </head>
          {% block title_body %}      {% endblock %}
  <body>
    <div>
      <ul class="menu-main">
        <li><a href="/" class="">Главная</a></li>
        <li><a href="/client">Личный кабинет</a></li>
        <li><a href="login">Регистрация|Авторизация</a></li>
        <li><a href="">Пользователь:    {% if current_user.login %}
                                        {{current_user.login}}
                                        {% else %}
                                        {{"не авторизован"}}
                                        {% endif %}</a></li>
        <li><a href="/logout">Выход</a></li>
      </ul>
    </div>

           {% block content %}    {% endblock %}

           {% block js %} {% endblock %}

  </body>
</html>